<!DOCTYPE html>
<html lang = "ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet", href= "/css/style.css">
    <link rel="shortcut icon" href="/img/icon_pika.ico" type="image/x-icon">
    {{!-- <link href= "/img/favicon.ico" rel="shortcut icon" type="image/x-icon"> --}}
    <title>{{{title}}}</title>
</head>
<body>
    <center>{{{body}}}</center>
</body>
</html>


