<body>
    <img src = "/img/defeat.png">
    <h1>뭔가 잘못 됐다!....</h1>
    <div>
        <form method = "post">
            <p><input type = "text" name = "error_code" palceholder = "에러사항을 적어주세요"></p>
            <p><input type = "submit" value = "제출"></p>
        </form>
    </div>
</body>