 <center>
        <h2>밖은 위험하니 포켓몬을 가져가렴!</h2>
        <img class = "img" src = "/img/doctor.jpg">
        <p>
            <form action = "/take">
                <button type="submit">가져가기!</button>
            </form>  
        </p>
</center>