<div>
    <h2>바깥은</h2>
    <h2>혼자 돌아다니기엔 위험하단다.</h2>
    <h2>너의 포켓몬을 가져가렴!</h2>
</div>
<img class = "img_doctor" src = "/img/doctor.jpg">
<p>
    <div style="margin-top: 30px;">
        <h3>지금까지 {{getCounter}} 명의 트레이너가 다녀갔단다</h3>
    </div>
    <div>
        <form method = "post">
            <button class = "btn_take" type="submit">가져가기!</button>
        </form>  
    </div>
</p>
