
    <h2>밖은 위험하니 포켓몬을 가져가렴!</h2>
    <img class = "img_doctor" src = "/img/doctor.jpg">
    <p>
        <div>
            <form action = "/take">
                <button class = "btn_take" type="submit"></button>
            </form>  
        </div>
    </p>
