<script>
    function popOpen() {
        let modalPop = document.getElementById("modal-wrap");
        let modalBg = document.getElementById("modal-bg")

        modalBg.style.display = "block"
        modalPop.style.display = "block"
    }
    
    function popClose() {
        let modalPop = document.getElementById("modal-wrap");
        let modalBg = document.getElementById("modal-bg")

        modalBg.style.display = "none"
        modalPop.style.display = "none"
    }
    function showBtn(){
        let btnHidden = document.getElementById("btn_hidden")
        btnHidden.style.display = "block"
    }
</script>


<h3>당신의 포켓몬은</h3>
    <div class = "img_pocketmon">
        <img src = {{{pocketmonSrc}}}>
    </div>
<p> {{{pocketmonName}}} 입니다!</p>
    <div>
        <form action = "/api/take">
        <button type = "submit" class = "btn_retake">다시 뽑기!</button>
        </form>
    </div>

    <div class = "form_take">
        <form method = "post">
        <input class = "input_guestbook" type = "text" name = "guest_contents" placeholder="방명록을 남겨주세요!"> 
        <p><button class = "btn_guestbook" onclick="popOpen();showBtn()">제출하기</button>
        </form>

        <form action="/page/thank">
        </form>

            <button id = "btn_hidden" class = "btn_guestbook_hidden">방명록보러가기</button></p>
    </div>



<A href = "https://github.com/seoki180/project_Pocketmon/"><img class="lnk_git" src = "/img/github.png"></A>

{{!-- 모달창영역 --}}
<div id = "modal-bg" class="modal-bg" onclick="popClose()"></div>
    <div id = "modal-wrap" class="modal-wrap">
        <P>나온 포켓몬을 찍어서 인스타에 올리시면 상품을 드려요~~~</P>
        <div>
            <p>인스타에 올리기!</p>
            <a href = "https://www.instagram.com/seokhi_seo/"/><img class = "lnk_insta" src = "/img/insta.png"></a>
        </div>
        <div>
            <form class = "btn_thank_1"action = "/page/thank">
                <button>방명록 보러가기!!</button>
            </form>
            <form class = "btn_thank_2"action = "/">
                <button>맨 처음으로 가기!</button>
            </form>
        </div>
    </div>
</div>

