<div>
    <h1>감사합니다!</h1>
    <div class = "table_guestBook">
        <ul>
            <li>{{{content}}} </li>
            <li>작성시간</li>
            <li>{{{date}}}</li>
        </ul>
    </div>
</div>