<style>
    .btn_toHome{
        width: 120px;
        height: 50px;
        font-weight: bold;
        background-color: black;
        color: white;
        margin-bottom: 10px;
    }
</style>

<div>
    <h1 style = "margin-bottom : 30px">지금까지 다녀간 트레이너란다</h1>
    <form  action = "/">
        <button class = "btn_toHome">홈으로 돌아가기</button>
    </form>

    <div>
        <ul id = "list" class = "div_guestBook">
        </ul>
    </div>

</div>



<script>
    let guestBook = {}
    fetch('/api/thank')
        .then((res) => res.json())
        .then((data) => {
            guestBook = data
            const list = document.getElementById("list")
            function showList(val) {
                list.innerHTML = ''
                const res = guestBook.forEach(guestBook => {
                    const li = document.createElement('li')
                    li.innerHTML = `
                        <span class = "name_guestBook">${guestBook.name}</span>
                        <span class = "date_guestBook">${guestBook.date}</span>
                        <div class = "content_guestBook">${guestBook.content}</div>
                        <hr>
                    `
                    list.appendChild(li)
                })
            }
            showList() 
        })

</script>