<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>your Pocketmon</title>
</head>
<body>
    <center>
        <h3>당신의 포켓몬은</h3>
        <img id = "Image" width="300px" height="300px">
        <p> 입니다!</p>
        <p>
            <div>
                <form action = "/guest_book">
                <input type = "text" name = "guest_book" placeholder="방명록을 남겨주세요!"> 
                <button type = "submit">제출하기</button>
                </form>
            </div>
        </p>
    </center>
    
</body> 
    <script  type = "module" src = "random.js"></script>
</html>