.img_doctor{
    width: 300px;
    height: 225px;
    border: 3;
}

.img_pocketmon{
    width: 390px;
    height: 390px;
}

.btn_retake{
    width: 200px;
    height: 30px;
    background-color: #f03d33;
    color:#ffffff;
    border-radius: 5px;
    font-size: large;
}

.btn_take{
    margin: 10px;
    background-image: linear-gradient(to top,white 50%, red 50%);
    font-weight: bold;
    font-size: 15px;
    color : black;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    border-color: black;
}

.form_take{
    margin: 20px;
}

.lnk_git{
    width: auto;
    height: 50px;
    margin-top: 50px;
}

.input_guestbook{
    width: 200px;
    height: 30px;
}

.btn_guestbook{
    background-size: 50px;
    background-color: black;
    color : white;
    height: 35px;
}

.table_guestBook{
    overflow: scroll;
    color : black;
}

.btn_monsterball{
    background:none;
    border: none;
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

.group_monsterball{
    display: flex;
    justify-content: center;

}

.img_monsterball{
    width: 59px;
    height: 59px;
}

.form_monsterball{
    width: 59px;
    height: 59px;
}
        /* 팝업 스타일 */
.modal-bg {
    display:none;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:rgba(0, 0, 0, 0.6);
    z-index:999;
    }

.modal-wrap {
    display: none;
    border-radius: 10%;
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:200px;
    height:200px;
    background:#fff;
    z-index:1000;
}

.lnk_insta{
    width: 50px;
    height: 50px;
}